<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>{{subtitle}}</ion-card-subtitle>
      <ion-card-title>
        {{title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="barChart"></div>
    </ion-card-content>
  </ion-card>
  <ion-select value="co" okText="Okay" cancelText="Dismiss" #C (ionChange)="onChange(C.value)">
    <ion-select-option value="co">CO</ion-select-option>
    <ion-select-option value="o3">O3</ion-select-option>
    <ion-select-option value="pm25">PM25</ion-select-option>
    <ion-select-option value="pm10">PM10</ion-select-option>
  </ion-select>
</ion-content>
