<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png1000px/ie.png" />
    <ion-card-header>
      <ion-card-title>Ireland</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Measurements: 567,208
      <br>
      Locations: 38
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png1000px/gb.png" />
    <ion-card-header>
      <ion-card-title>United Kingdom</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Measurements: 11,914,940
      <br>
      Locations: 162
    </ion-card-content>
  </ion-card>

</ion-content>
